img.twemoji {
    height: 1em;
    width: auto;
}

p.search-hint {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 8px;
}

div.search-results {
    margin-top: 0;
}

#content_search {
    margin-top: 16px;
}

img.credential-type-icon {
    height: 1em; 
    width: auto;
    margin-left: 0.15em;
    padding-bottom: .2em;
}